{% extends "layout.html" %}

{% block content %}
{% filter textile %}

h2. The Popcorn API

<div class="alert alert-block">
  <h4>Warning!</h4> The API is currently unstable and may change
  without prior notice. If you're looking to use Popcorn data in your
  own project and you have any special requirements
  please <a href="/contact">contact</a> us.
</div>


h3. Making new package submissions

Popcorn provides one API function for receiving submissions from users. This is available at the root (@'/'@) of the Popcorn website and accepts only HTTP POST requests. Gzip archived (@Content-Encoding: gzip@) requests are also accepted.

The format of a submission is plaintext and contains general information about the system as well as information about each package installed on that system. The popcorn client is a python package which currently fills this role for rpm-based distros.</p>

h3. JSON API

Aside from the submission receiving API function, all other API requests are HTTP GET requests which return JSON documents. You need to explicitly specify that you want a JSON document in your request's headers. e.g.

pre. $ curl --header "Accept: application/json" http://popcorn.opensuse.org/distro/openSUSE_12.1

pre. {
  "distro": {
    "submissions": [
      {
        "sub_id": 2, 
        "sub_date": "2012-08-01", 
        "distro_version": "12.1", 
        "popcorn_version": "0.1", 
        "distro_name": "openSUSE", 
        "arch": "i686"
      }, 
      {
        "sub_id": 3, 
        "sub_date": "2012-09-18", 
        "distro_version": "12.1", 
        "popcorn_version": "0.1", 
        "distro_name": "openSUSE", 
        "arch": "i686"
      }
    ], 
    "distro_name": "openSUSE", 
    "distro_version": "12.1"
}


h3. Errors

Errors set the proper HTTP code and return a message stored in the @error@ field:

pre. $ curl -i --header "Accept: application/json" http://popcorn.opensuse.org/NotFound

pre.. 
HTTP/1.0 404 NOT FOUND
Content-Type: application/json
Content-Length: 53
Server: Werkzeug/0.8.3 Python/2.7.3
Date: Fri, 21 Sep 2012 13:17:23 GMT

{
  "error": "Not Found"
}


{% endfilter %}
{% endblock %}
