{% extends "layout.html" %}

{% block content %}

<h2>The Popcorn API</h2>
<div class="alert alert-block">
  <h4>Warning!</h4> The API is currently unstable and may change
  without prior notice. If you're looking to use Popcorn data in your
  own project and you have any special requirements
  please <a href="/contact">contact</a> us.
</div>


<h3>Making new package submissions</h3> 
<p>Popcorn provides one API function for receiving submissions from users. This is available at the root (<code>'/'</code>) of the Popcorn website and accepts only HTTP POST requests. Gzip archived (<code>Content-Encoding: gzip</code>) requests are also accepted.</p>

<p>The format of a submission is plaintext and contains general information about the system as well as information about each package installed on that system. The popcorn client is a python package which currently fills this role for rpm-based distros.</p>

<h3>JSON API</h3>

<p>Aside from the submission receiving API function, all other API requests are HTTP GET requests which return JSON documents. You need to explicitly specify that you want a JSON document in your request's headers. e.g.</p>

<pre>
curl --header "Accept: application/json" localhost:5000/distro/openSUSE_12.1
{
  "distro": {
    "submissions": [
      {
        "sub_id": 2, 
        "sub_date": "2012-08-01", 
        "distro_version": "12.1", 
        "popcorn_version": "0.1", 
        "distro_name": "openSUSE", 
        "arch": "i686"
      }, 
      {
        "sub_id": 3, 
        "sub_date": "2012-09-18", 
        "distro_version": "12.1", 
        "popcorn_version": "0.1", 
        "distro_name": "openSUSE", 
        "arch": "i686"
      }
    ], 
    "distro_name": "openSUSE", 
    "distro_version": "12.1"
  }
</pre>

<h3>Errors</h3>


{% endblock %}
