{% extends "layout.html" %}
{% block body %}
<div id="systems">
  <h2>Distros</h2>
  <ul>
    {% for distro in distros %}
    <li>
      <a href="/distro/{{ distro.distro_name }}_{{ distro.distro_version }}">
        {{ distro.distro_name }} {{ distro.distro_version }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="vendors">
  <h2>Vendors</h2>
  <ul>
    {% for vendor in vendors %}
    <li>
      <a href="/vendor/{{ vendor.vendor_name }}">{{ vendor.vendor_name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
