{% extends "layout.html" %}
{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // XXX Move this to its own file - figure out a system for organizing
  // all the future graphs as well

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['corechart']});

  {% include "js/packages_distro.js" %}
  {% include "js/submissions_distrover.js" %}
</script>
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span10">
    <div class="hero-unit">
      <h1>Popcorn eats you!</h1>
      <p>Popcorn tracks the usage of RPM packages. This
        website provides user contributed statistics about installed
        packages and their metadata.</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span5" id="systems">
    <h2>Distros</h2>
    <ul>
      {% for distro in distros %}
      <li>
        <a href="/distro/{{ distro.distro_name }}_{{ distro.distro_version }}">
          {{ distro.distro_name }} {{ distro.distro_version }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span5" id="vendors">
    <h2>Vendors</h2>
    <ul>
      {% for vendor in vendors %}
      <li>
        <a href="/vendor/{{ vendor.vendor_name }}">{{ vendor.vendor_name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>     
<div class="row-fluid">
  <div class="span5">
    <h4>Packages tracked by distribution</h4>
    <div id="distro_packages_chart" style="width: 400px; height: 300px;"></div>
  </div>
  <div class="span5">
    <h4>Submissions for each distribution version</h4>
    <div id="submissions_distrover" style="width: 400px; height: 300px;"></div>
  </div>
</div>
<div class="row">
  <div class="span5 distro_packages_chart"></div>
  <div class="span5 distro_packages_chart"></div>
</div>
{% endblock %}
