{% extends "layout.html" %}
{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // XXX Move this to its own file - figure out a system for organizing
  // all the future graphs as well

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Distro');
    data.addColumn('number', 'Packages');
    data.addRows({{ distro_packages|safe }});

    // Set chart options
    var options = {'title':'Packages by Distro',
                   'width':400,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('distro_packages_chart'));
    chart.draw(data, options);
  }
</script>
{% endblock %}

{% block body %}
<div id="systems">
  <h2>Distros</h2>
  <ul>
    {% for distro in distros %}
    <li>
      <a href="/distro/{{ distro.distro_name }}_{{ distro.distro_version }}">
        {{ distro.distro_name }} {{ distro.distro_version }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="vendors">
  <h2>Vendors</h2>
  <ul>
    {% for vendor in vendors %}
    <li>
      <a href="/vendor/{{ vendor.vendor_name }}">{{ vendor.vendor_name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="distro_packages_chart"></div>
{% endblock %}
