<!doctype html>
<head>
  <link rel=stylesheet href='//netdna.bootstrapcdn.com/bootswatch/2.1.0/simplex/bootstrap.min.css'>

  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <title>Popcorn eats you!</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span9 well">
        <h1>Popcorn eats you!</h1>
        <p>Popcorn tracks the usage of RPM packages. This website
          provides user contributed statistics about installed packages
          and their metadata.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-list">
          <li><a href="/">Home</a></li>
          <li class="nav-header"><a href="/api">API Documentation</a></li>
          <ul class="nav nav-list">
            <li><a href="/distro">Distributions</a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Submissions</a></li>
          </ul>
          <li class="divider"></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/#how-you-can-help">Contribute</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="span9">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <div class="muted" id="footer">The lizards say: <em>follow
  the <a href="http://github.com/mapleoin/popcorn">source</a>!</em></div>
  {% block javascript %}{% endblock %}
</body>
